html {
    font-family: 'Courier New', Courier, monospace;
}

* {
    color: #000000;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 24px;
}

.content {
    max-width: 700px;
    background-color: #e4e0e0;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .ex {
      background-color: #ffffff;
      padding: 10px;
  }

  .footer {
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: #cfc5c8;
      padding: 10px;
  }